@model IEnumerable<MyPark.Model.DataBase.Models.Estadia>

@{
    ViewBag.Title = "Index";
}

<div id="menuEstadia">
    @Html.Partial("_MenuEstadia")
</div>

<div id="tblEstadias">
    @Html.Partial("_TblEstadias", Model)
</div>

<div id="telaEntrada">

</div>

<div id="telaSaida">

</div>

